@import '../../../styles/_mixins/all';

.bdcHeader {
  @include flexBox;
  @include justify-content(space-between);
  position: relative;

  &::before,
  &::after {
    @include backgroundGradient($color-gold, 1, $color-whiteGold, 1, 'horz');
    content: '';
    height: 2px;
    position: absolute;
    top: 100%;
    width: 50%;
  }

  &::before {
    @include backgroundGradient($color-whiteGold, 1, $color-gold, 1, 'horz');
    left: 0;
  }

  &::after {
    @include backgroundGradient($color-gold, 1, $color-whiteGold, 1, 'horz');
    left: 50%;
  }

  &-logoContainer {
    @include flexBox(true);
    @include align-items(center);
  }

  &-logo {
    height: 100px;
    width: 100px;
  }

  &-title {
    border-left: 2px solid $color-gold;
    color: $color-deepGold;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;

    @include media(phablet) {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }

  &-navContainer {
    @include flexBox(true);
    @include align-items(center);
    padding-right: 20px;
    position: relative;
  }

  &-label {
    @include flexBox;
    @include noSelect;
    background-color: $color-whiteGold;
    border: 2px solid $color-gold;
    border-radius: 5px;
    color: $color-gold;
    font-size: 2rem;
    padding: 5px;

    @include media(ld) {
      display: none;
    }
  }

  &-checkbox {
    display: none;
  }

  &-open {
    display: none;
  }

  &-checkbox:checked + &-label &-closed {
    display: none;
  }

  &-checkbox:checked + &-label &-open {
    display: block;
  }

  &-checkbox:checked ~ &-nav {
    transform: translateX(0);
  }

  &-nav {
    @include flexBox;
    @include flex-direction(column);
    background-color: $color-whiteGold;
    border-bottom: 2px solid $color-gold;
    border-left: 2px solid $color-gold;
    border-radius: 5px 0 0 5px;
    border-top: 2px solid $color-gold;
    color: $color-gold;
    right: 0;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    top: 80px;
    transform: translateX(100%);
    z-index: 10;

    @include media(ld) {
      background: none;
      border: 0 none;
      color: $color-deepGold;
      display: block;
      position: static;
      transform: translateX(0);
    }
  }

  &-navLink {
    font-size: 1.4rem;
    padding-bottom: 5px;

    @include media(ld) {
      border-right: 1px solid $color-gold;
      font-size: 1.6rem;
      padding: 0 5px 0 5px;

      @include hoverStyles {
        text-decoration: underline;
      }
    }

    &:last-child {
      padding-bottom: 0;

      @include media(ld) {
        border-right: 0;
        padding-right: 0;
      }
    }
  }
}
