<header class="bdcHeader">
  <a class="bdcHeader-logoContainer" href="/">
    <img class="bdcHeader-logo" src="../assets/images/logo.png" alt="Safe Bank" />
    <h1 class="bdcHeader-title">Safe Bank User Administration</h1>
  </a>
  <div class="bdcHeader-navContainer">
    <input class="bdcHeader-checkbox" id="menuMobile" name="menuMobile" type="checkbox" />
    <label class="bdcHeader-label" for="menuMobile">
      <i class="material-icons bdcHeader-closed">menu</i>
      <i class="material-icons bdcHeader-open">close</i>
    </label>
    <nav class="bdcHeader-nav">
      <a class="bdcHeader-navLink" routerLink="/">Home</a>
      <a class="bdcHeader-navLink" routerLink="/users">Users</a>
    </nav>
  </div>
</header>
