@import '../../../styles/_mixins/all';

.bdcUserForm {
  &-formLabel {
    display: inline-block;
    width: 110px;

    &::after {
      content: ':';
    }
  }

  &-formInput {
    @extend %input;
  }

  &-button {
    @extend %button;
    margin: 5px 5px 0 0;
  }

  &-buttonIcon {
    display: block;
    font-size: 1.6rem;
  }
}
