<form class="bdcUserForm" (submit)="onSubmitForm()">
  <p class="bdcUserForm-formField">
    <label class="bdcUserForm-formLabel" for="field6">First Name</label>
    <input [(ngModel)]="user.firstName" class="bdcUserForm-formInput" id="field6" name="field6" type="text" />
  </p>
  <p class="bdcUserForm-formField">
    <label class="bdcUserForm-formLabel" for="field5">Last Name</label>
    <input [(ngModel)]="user.lastName" class="bdcUserForm-formInput" id="field5" name="field5" type="text" />
  </p>
  <p class="bdcUserForm-formField">
    <label class="bdcUserForm-formLabel" for="field1">Date of Birth</label>
    <input [(ngModel)]="user.dob" class="bdcUserForm-formInput" id="field1" name="field1" type="date" />
  </p>
  <p class="bdcUserForm-formField">
    <label class="bdcUserForm-formLabel" for="field2">Address Line 1</label>
    <input [(ngModel)]="user.address.addressLine1" class="bdcUserForm-formInput" id="field2" name="field2" type="text" />
  </p>
  <p class="bdcUserForm-formField">
    <label class="bdcUserForm-formLabel" for="field3">Address Line 2</label>
    <input [(ngModel)]="user.address.addressLine2" class="bdcUserForm-formInput" id="field3" name="field3" type="text" />
  </p>
  <p class="bdcUserForm-formField">
    <label class="bdcUserForm-formLabel" for="field4">Post Code</label>
    <input [(ngModel)]="user.address.postCode" class="bdcUserForm-formInput" id="field4" name="field4" type="text" />
  </p>
  <p class="bdcUserForm-formField">
    <button class="bdcUserForm-button">Submit</button>
    <button type="button" class="bdcUserForm-button" (click)="onCancel()">Cancel</button>
  </p>
</form>
