@import '../../../styles/_mixins/all';

.bdcUsers {

  &-label {
    @include flexBox;
    @include align-items(center);
    @include noSelect;
  }

  &-checkbox {
    display: none;
  }

  &-checkbox:checked + &-label &-iconArrow {
    transform: rotateZ(90deg);
  }

  &-checkbox:checked + &-label &-iconAdd {
    transform: rotateZ(45deg);
  }

  &-checkbox:checked ~ &-info {
    border: 2px solid $color-gold;
    margin-bottom: 10px;
    max-height: 410px;
    padding: 10px;
  }

  &-icon {
    color: $color-gold;
    transition: transform .2s ease;
  }

  &-info {
    border-radius: 5px;
    display: block;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height .2s ease, border .2s ease;

    :last-child {
      margin-bottom: 0;
    }
  }

  &-addressTitle,
  &-addressDetail {
    display: inline-block;
    vertical-align: top;
  }

  &-infoButtons {
    position: absolute;
    right: 0;
    top: 0;
  }

  &-button {
    @extend %button;
    margin: 5px 5px 0 0;
  }

  &-buttonIcon {
    display: block;
    font-size: 1.6rem;
  }

  &-accountsLink {
    display: inline-block;
    margin-left: 5px;
  }
}
