<h2>Users</h2>
<ul class="bdcUsers"
    [class.isLoading]="isLoading">
  <ng-container *ngIf="!isLoading">
    <li>
      <input class="bdcUsers-checkbox" id="user-new" name="user-new" type="checkbox" />
      <label class="bdcUsers-label" for="user-new">
        <i class="material-icons bdcUsers-icon bdcUsers-iconAdd">add</i> Add New User
      </label>
      <app-user-form class="bdcUsers-info" [user]="newUser" (submitForm)="createUser()" (cancel)="cancelCreateUser()"></app-user-form>
    </li>
    <li class="bdcUsers-listItem" *ngFor="let user of users; let $index = index">
      <input class="bdcUsers-checkbox" id="user-{{$index}}" name="user-{{$index}}" type="checkbox" />
      <label class="bdcUsers-label" for="user-{{$index}}">
        <i class="material-icons bdcUsers-icon bdcUsers-iconArrow">arrow_right</i> {{user.lastName}}, {{user.firstName}}
      </label>
      <app-user-form *ngIf="editUser.id === user.id" class="bdcUsers-info" [user]="editUser" (submitForm)="updateUser(editUser)"
        (cancel)="cancelEditUser()"></app-user-form>
      <div *ngIf="editUser.id !== user.id" class="bdcUsers-info">
        <p class="bdcUsers-infoButtons">
          <a class="bdcUsers-button" routerLink="/users/{{user.id}}">
            <i class="material-icons bdcUsers-buttonIcon">visibility</i>
          </a>
          <a class="bdcUsers-button" routerLink="/users/{{user.id}}/accounts">
            <i class="material-icons bdcUsers-buttonIcon">account_balance</i>
          </a>
          <button class="bdcUsers-button" (click)="updateEditUser(user);">
            <i class="material-icons bdcUsers-buttonIcon">edit</i>
          </button>
          <button class="bdcUsers-button" (click)="deleteUser(user);">
            <i class="material-icons bdcUsers-buttonIcon">delete</i>
          </button>
        </p>
        <p>Date of birth: {{ user.dob | date:'longDate' }}</p>
        <p>
          <span class="bdcUsers-addressTitle"></span>Address:
          <span class="bdcUsers-addressDetail">
            {{ user.address.addressLine1 }}<br />
            {{ user.address.addressLine2 }}<br />
            {{ user.address.postCode }}
          </span>
        </p>
      </div>
    </li>
  </ng-container>
</ul>
