// Black
$color-black: #000;
$color-blackMidnight: #2a2c35;

// Grey
$color-grey: #838692;
$color-greyDark: #29292c;
$color-greyMetal: #bdbdbd;
$color-greyLight: #f0f1f3;

// White
$color-white: #fff;

// Branding
$color-bronze: #827547;
$color-gold: #C2AA5B;
$color-whiteGold: #F1EACA;
$color-deepGold: #53430A;
