@import '_colours';

// Hover styles

@mixin hoverStyles {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

// Buttons

@mixin buttonBg($color) {
  background-color: $color;

  @include hoverStyles {
    background-color: darken($color, 10%);
  }
}

%button {
  @include buttonBg($color-gold);
  border: 2px solid $color-deepGold;
  border-radius: 5px;
  color: $color-deepGold;
  cursor: pointer;
  display: inline-block;
  font: {
    size: 1.6rem;
  }
  outline: none;
  padding: 5px;
  white-space: nowrap;

  &-neutral {
    @extend %button;
    @include buttonBg($color-grey);
  }
}

%input {
  border: 2px solid $color-deepGold;
  border-radius: 5px;
  color: $color-deepGold;
  height: 30px;
  padding: 5px;
}
