@import url('https://fonts.googleapis.com/css?family=Material+Icons|Comfortaa|Ubuntu:400,400i,700,700i');
@import '../src/styles/_mixins/all';

@mixin headingFont {
  font-family: 'Comfortaa', 'ComfortaaFallback', cursive;
}
@mixin textFont {
  font-family: 'Ubuntu', 'UbuntuFallback', sans-serif;
}

@keyframes spinner {
  to {
    @include transform(rotate(360deg));
  }
}

* {
  box-sizing: border-box;
  transition: background-color .2s ease, color .2s ease, opacity .2s ease, transform .2s ease;
}
html {
  font-size: 62.5%;
}
html, body {
  @include textFont;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  color: $color-blackMidnight;
  min-height: 100%;
  position: relative;
}
img {
  border: 0;
}
h1, h2, h3, h4, h5, h6 {
  @include headingFont;
  font-weight: normal;
  margin: 0 0 1rem 0;
  padding: 0;
}
h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;

  @include media(hd) {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}
h2 {
  font-size: 2rem;
  line-height: 2rem;

  @include media(hd) {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;

  @include media(hd) {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
ol, ul {
  list-style: none;

  ol, ul {
    margin: 0 0 0 20px;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p, table, ol, ul {
  font-size: 1.4rem;
  margin: 0 0 1rem 0;
  padding: 0;

  @include media(hd) {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}
li {
  line-height: 1.8rem;
}
hr {
  border: {
    bottom: 0;
    left: 0;
    right: 0;
    top: 1px solid $color-grey;
  }
  margin: 4rem auto;
  width: 80%;
}
label[for] {
  cursor: pointer;
}
[type="submit"],
[type="reset"],
[type="button"],
button {
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
select,
textarea {
  @include textFont;
  letter-spacing: -0.02em;
}
::-moz-selection {
  background-color: $color-gold;
  color: $color-white;
}
::selection {
  background-color: $color-gold;
  color: $color-white;
}

.isLoading {
  min-height: 100px;
  position: relative;

  &::after {
    animation: spinner .8s ease-in-out infinite;
    border-left: 3px solid black;
    border-radius: 50%;
    border-right: 3px solid transparent;
    border-top: 3px solid black;
    content: '';
    left: calc(50% - 20px);
    position: absolute;
    top: calc(50% - 20px);
    height: 40px;
    width: 40px;
  }
}
